$border-colour: gray;

body {
  padding: 0% 5% 5% 10%;
}
.container {
  margin: 0 auto;
  display: block;
  width: 80%;
  height: 40%;
  color: red;
  border-style: solid;
  border-width: 1px;
  border-color: $border-colour;
}

.grid-container {
  display: block;

}

.grid-block {

}

.logo-container {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.logo {
  width: 460px;
  height: 70px;
}
